---
BasedOnStyle: Microsoft
AccessModifierOffset: '-4'
AllowShortFunctionsOnASingleLine: InlineOnly
AlwaysBreakTemplateDeclarations: 'Yes'
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
FixNamespaceComments: 'false'
IndentCaseLabels: 'false'
IndentPPDirectives: BeforeHash
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: 'false'
IndentCaseBlocks: true
AlignConsecutiveMacros: true

...
