---
BasedOnStyle: Microsoft
AlwaysBreakTemplateDeclarations: 'Yes'
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeComma
IndentCaseLabels: 'false'
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: 'false'

...
