---
BasedOnStyle: Microsoft
AlwaysBreakTemplateDeclarations: 'Yes'
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
IndentCaseLabels: 'false'
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: 'false'
AllowShortFunctionsOnASingleLine: InlineOnly
AccessModifierOffset : -4

...
